

.calculator {
    text-align: center;
    background:#007bff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 1rem;
    font-weight: bold;
    color: #28a745;
}
img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

a {
  color: #bd03d6;
  font-size: bold;
  font-size: 50px;
  text-decoration: none;
  transition: color 150ms ease, text-decoration-color 150ms ease;
}
a:hover {
    color: #03d626;
    text-decoration: underline;
}