#to_do_list{
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}
#cheang_text{
  width: 100%;
}
#header_form{
  margin: 0px;
}
#text{
  cursor: pointer;
}
#div_span{
  overflow: hidden;
}
.btn.btn-outline-success{
  width: fit-content;
}
#to_do_list_root{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
}
#footer{
  display: flex;
  align-items: end;
}
#scroll{
  height: 300px;
  overflow-y: scroll;
  border-bottom: 0.1px solid black;
  font-size: 10px;

}



