

.calculator {
    background: #08abeb;
    padding: 20px;
    border-radius: 10px;
    width: 260px;

}

#display {
    background-color: rgb(248, 247, 244);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.zero {
    grid-column: span 2;
}
